@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0;
}
.intro {
  background-image: url("mountain.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro-image {
  height: 220px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid white;
}
.intro-heading {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.intro-subheading {
  color: white;
}
