@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0;
}
.intro {
  background-image: url("mountain.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro-image {
  height: 220px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid wheat;
}
.intro-heading {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.intro-subheading {
  color: white;
}

.drop-animation {
  animation: drop 0.8s linear;
}
@keyframes drop {
  0% {
    transform: translateY(-20px);
  }
  33% {
    transform: translateY(-10px);
  }
  67% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mt {
  margin-top: 6px;
}
.mt-sm {
  margin-top: 4px;
}
.mt-lg {
  margin-top: 8px;
}
